* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #2e3a59, #7682a5);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    color: #f4f4f9;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    gap: 10px;
}

#search {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    border: none;
    outline: none;
}

#search-button, #location-button {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    background-color: #6a5acd;
    color: white;
}

#search-button:hover, #location-button:hover {
    background-color: #483d8b;
}

.row {
    margin-top: 20px;
    font-size: 1.5rem;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
